html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.half {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.half a {
    font-size: 5vw;
    text-decoration: none;
    color: inherit;
    transition: transform 0.5s;
}

.half a:hover {
    transform: scale(1.1);
}

.left {
    background-color: #f8f5f0;
    font-family: 'Abril Fatface', 'Times New Roman', Times, serif;
    color:#000000;
}

.right {
    background-color: #282a3a;
    font-family: Consolas, 'Courier New', monospace;
    color:#eaf2f1;
}

@media (max-width: 800px), (max-height: 600px) {
    body {
        flex-direction: column;
    }
}

@font-face {
  font-family: 'Abril Fatface';
  src: url('../assets/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}